# uuid: 1AF5CF74-A6D4-417E-A738-CCE64A0A7F71
milestones: ["alpha","beta","1.0"]

# uuid: 0AEC922F-57B1-44BE-9588-816E5841BB18
default_component: ["ui"]

# uuid: 6CBD84A1-4568-48E7-B90C-F1A5B7BD8ECD
components: ["core","ui","docs","tests"]

# uuid: 3f0a074f-af13-406f-bf7b-d69bbf360720
common_ticket_props: ["id","summary","original_replica"]

# uuid: 2F9E6509-4468-438A-A733-246B3061003E
default_status: ["open"]

# uuid: C879A68F-8CFE-44B5-9EDD-14E53933669E
active_statuses: ["new","open"]

# uuid: BAB613BD-9E25-4612-8DE3-21E4572859EA
default_milestone: ["alpha"]

# uuid: c1bced3a-ad2c-42c4-a502-4149205060f1
prop_descriptions: [{"due":"when this ticket must be finished by","owner":"the email address of the person who is responsible for this ticket","reporter":"the email address of the person who reported this ticket","summary":"a one-line summary of what this ticket is about"}]

# uuid: 24183C4D-EFD0-4B16-A207-ED7598E875E6
statuses: ["new","open","stalled","closed","rejected"]

# uuid: 3B4B297C-906F-4018-9829-F7CC672274C9
project_name: ["Your SD Project"]


