qr/=== required ticket metadata \(changes here will not be saved\) ===

id: \d+ \($ticket_uuid\)
created: \d{4}-\d{2}-\d{2}.+
creator: $ENV{USER}
original_replica: $replica_uuid

=== edit ticket details below ===

summary: summary changed
status: new
milestone: alpha
owner: 
due: 2050-01-25 23:11:42
reporter: $ENV{EMAIL}
component: core

=== add new ticket comment below ===/
