=== required ticket metadata (changes here will not be saved) ===

qr/creator: $ENV{USER}/
qr/original_replica: $replica_uuid/

=== edit ticket details below ===

summary: 
status: new
milestone: alpha
component: core
owner: 
due: 
qr/reporter: $ENV{PROPHET_EMAIL}/

=== add new ticket comment below ===
