=== required ticket metadata (changes here will not be saved) ===

qr/creator: $ENV{USER}/
qr/original_replica: $replica_uuid/

=== edit ticket details below ===

# a one-line summary of what this ticket is about
summary: 
# valid values for status: new, open, stalled, closed, rejected
status: new
# valid values for milestone: alpha, beta, 1.0
milestone: alpha
# valid values for component: core, ui, docs, tests
component: core
# the email address of the person who is responsible for this ticket
owner: 
# when this ticket must be finished by (ISO 8601 format)
due: 
# the email address of the person who reported this ticket
qr/reporter: $ENV{PROPHET_EMAIL}/

=== add new ticket comment below ===
